/* reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* /reset/ */

body{
	background-color: #640a64;
	color: black;
}
h2{
	color: white;
}
#app{
	margin-top: 20px;
	text-align: center;
}

#btn{
	border-radius: 50%;
	padding: 5px 15px;
}

#itemBox{
	background-color: white;
	width:auto;
}
ul{
	list-style-type: none;
}
p{
	padding: 1px 10px;
}